.vscode/**
.vscode-test/**
.github/**
.husky/**
.changeset/**
src/**
scripts/**
packages/**
node_modules/**
.gitignore
.gitattributes
.prettierrc.js
.prettierignore
.editorconfig
.commitlintrc.js
.eslintcache
.DS_Store
eslint.config.ts
vitest.config.ts
pnpm-lock.yaml
pnpm-workspace.yaml
vsc-extension-quickstart.md
**/*.map
*.vsix
