/**
 * Codicon 字体定义
 * 字体文件由 vite-plugin-static-copy 复制到同目录
 */
@font-face {
  font-family: 'codicon';
  font-display: block;
  src: url('./codicon.ttf') format('truetype');
}

.codicon {
  font-family: 'codicon';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.codicon-chevron-right::before { content: '\eab6'; }
.codicon-chevron-down::before { content: '\eab4'; }
.codicon-file::before { content: '\eb60'; }
.codicon-warning::before { content: '\ea6c'; }
